<launch>
  <arg name="map" default="simple_map"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find idas_navigation)/worlds/$(arg map).world"/>
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="gui" default="true"/>
		<arg name="headless" default="false"/>
		<arg name="debug" default="false"/>
		<arg name="verbose" value="false"/>
	</include>

  <arg name="model_name" default="round_object"/>
  <arg name="model"
       default="$(find idas_navigation)/urdf/round_object.xacro"/>

  <group ns="$(arg model_name)">
    <!-- Loading robot description into ros parameter server -->
    <param name="/robot_description"
           command="$(find xacro)/xacro $(arg model)"/>

    <!-- TF state publisher node -->
    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"/>

    <!-- spawns model into gazebo -->
    <node name="spawn_urdf"
          pkg="gazebo_ros"
          type="spawn_model"
          respawn="false"
          output="screen"
          args="-param /robot_description -urdf -model $(arg model_name)"/>
  </group>
</launch>
